::ng-deep .glass {
  mat-dialog-container {
    background: rgba(255, 255, 255, 0.464);
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 1rem;
    z-index: 1;
    backdrop-filter: blur(2px);
  }
}

.search-input {
  width: 50vw;
}

.delete-btn {
  border: none;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.green {
  padding: 3rem 0;
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-header {
    text-align: center;
    margin-bottom: 3rem;
  }

  .button {
    width: 140px;
    min-height: 50px;
    background: linear-gradient(
      145deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(105, 152, 5, 0.635) 100%
    );
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 150px;
    border: none;
    cursor: pointer;
  }

  .main {
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3rem;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0.22),
        rgba(255, 255, 255, 0.25)
      );
      box-shadow: 12px 12px 16px 0 rgb(0 0 0 / 25%),
        -8px -8px 12px 0 rgb(255 255 255 / 30%);
      border-radius: 50px;
      height: 450px;
      width: 250px;
      margin: 5rem 2rem 2rem;
      padding: 1.5rem;
      position: relative;

      .button-edit {
        width: 100px;
        min-height: 30px;
        position: absolute;
        top: 90%;
      }

      .card-delete-btn {
        position: absolute;
        right: 8%;
        top: 5%;
      }

      .img {
        max-width: 200px;
        max-height: 120px;
        align-self: center;
        margin: 1rem 0;
      }

      .date {
        position: absolute;
        left: 8%;
        top: 5%;
      }

      .text {
        display: block;
        hyphens: auto;
        max-width: 230px;
        text-align: justify;
      }

      .header {
        padding-top: 2rem;

        .centered {
          text-align: center;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .green {
    .form-container {
      flex-direction: column;
    }
  }
}
